@media print {
    .print\\:static {
      position: static !important;
    }
  
    .print\\:mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  
    body * {
      visibility: hidden;
    }
  
    .worksheet,
    .worksheet * {
      visibility: visible;
    }
  
    .worksheet {
      position: absolute;
      left: 0;
      top: 0;
    }
  }